html * {
  font-family: "URW Chancery L", cursive;
  font-style: oblique;
  font-size: 99%;

}

#globalContainer {
  position: relative;
  float: left;
  width: 30%;
}

#container {
    position: relative;
    border: 10px double grey;
    background: LightSalmon;
    padding: 10px;
  float: left;
  margin-left: 30%;
    height: 80%;
    width: 30%;
    overflow: auto;

  }

  .titleblock  {
    border: 4px double black;
    background: Tomato;
    padding: 10px;
    width: 50%;
    height: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .blocktext  {
    border: 4px double black;
    background: Coral;
    position: relative;
    padding: 10px;
    width: 90%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    top: 5%;
    text-align: left;
  }
  button#Add  {
    position: absolute;
    right: 1%;
    top: 25%;
    width: 18%;
    height: 50%;
    border: 4px double black;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  input  {
    width: 80%;
    height: 100%;
    background-color: Coral;
    border: 4px double black;
    outline: none;
  }
  .fatherblock  {
    position: relative;
    padding: 10px;
    padding-top: 6%;
    width: 90%;
    height: 10%;
    left: 3%;
    top: 20%;
    text-align: center;

  }
  .block  {
    position: absolute;
    border: 4px double black;
    background: Coral;
    height: 50%;
    width: 70%;
    padding-top: 5%;
    bottom: 10%;
    text-align: center;
    overflow: auto;
  }

  .errorWindow {
    position: relative;
    border: 4px double black;
    background: Coral;
    height: 5%;
    width: 15%;
    float: left;
    margin-left: 15px;
    margin-top: 160px;
    text-align: center;
    font-size: 70%;
    overflow: auto;
  }

  button[name="Mark_Button"], button[name="Unmark_Button"]  {
    position: absolute;
    right: 1%;
    top: 10%;
    width: 18%;
    height: 40%;
    border: 4px double black;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

  }
  button[name="Delete_Button"]  {
    position: absolute;
    right: 1%;
    bottom: 10%;
    width: 18%;
    height: 40%;
    border: 4px double black;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

button#Login, button#Register {
  position: absolute;
  right: 35%;
  margin-top: 30%;
  width: 35%;
  height: 40px;
  border: 4px double black;
  background: Coral;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

button#Logout {
  position: absolute;
  right: 35%;
  width: 35%;
  height: 40px;
  border: 4px double black;
  background: Coral;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}