{{ auth | raw }}
<html>
<head>
{{ userAgent | raw }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="front/static/js/ajaxLogin.js"></script>
    <script src="front/static/js/ajaxRegister.js"></script>
</head>
<body>
<div id="globalContainer"></div>
    <div id="container">
        <div class="titleblock">Login:</div>
        <div class="blocktext">
            <form method="post" autocomplete="off">
                <input placeholder="Enter your login" name="login" style="width: 100%;" required>
        </div>
        <div class="blocktext">
                <input placeholder="Enter your password" type="password" name="password" style="width: 100%;" required>
            <button formaction="ajaxLogin.php" id="Login" type="submit" style="right: 4%;">Login</button>
            <button formaction="ajaxRegister.php" id="Register" style="left: 4%;">Register</button>
        </div>
            </form>
    </div>
    <div class="errorWindow">
        Symbols you are entering are forbidden
    </div>
</body>
<script>
    $('#Login').click(function (event) {
        event.preventDefault();
        sendLoginQuery();
    });

    $('#Register').click(function (event) {
        event.preventDefault();
        sendRegisterQuery();
    });
</script>
</html>